::selection {
  background: #bcf5a9; /* WebKit/Blink Browsers */
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
h2,
h3,
h4,
.nav-item,
#transition,
footer {
  text-align: center;
}
header {
  background: url(./image/main.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 40 px;
}
h1 {
  font-size: 5em;
  padding: 200 px 0 0 20%;
  text-shadow: -3 px 3px 2px #bcf5a9;
  animation: titre ease 3.5s;
}
@keyframes titre {
  0% {
    opacity: 0;
    transform: translate(0px, 300px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
